<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>805480896978-84k918mqnn74p913nh9pqqqhjijmhq7v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.805480896978-84k918mqnn74p913nh9pqqqhjijmhq7v</string>
	<key>API_KEY</key>
	<string>AIzaSyB6x-gBz7u1Qsy64nq1O2rC-9LhK6JYUjk</string>
	<key>GCM_SENDER_ID</key>
	<string>805480896978</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterTodo</string>
	<key>PROJECT_ID</key>
	<string>flutter-todo-ba132</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-todo-ba132.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:805480896978:ios:c468a6eb922ffc42d3100b</string>
</dict>
</plist>